<%- include('../../shared/includes/head', { pageTitle: 'Bubi Wear' }) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Main Page</h1>
    </main>
<%- include('../../shared/includes/footer') %>