<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Product Page</h1>
    </main>
<%- include('../../shared/includes/footer') %>