<%- include('../../shared/includes/head', { pageTitle: 'Checkout' }) %>
<link rel="stylesheet" href="/styles/cart.css">
<script src="/javascript/cart-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main class="cart-layout">
        <div class="cart-area" id="cart-area">
            <div class="payment-info">
                
            </div>
        </div>
    </main>
    <%- include('../../shared/includes/footer') %>